@import '../../theme/typo.scss';
@import '../../theme/layout.scss';
@import '../../theme/colors.scss';

.container {
    text-align: center;
    margin-bottom: $grid-xlarge;
}

.title {
    @extend %blockTitleText;
    margin-bottom: $grid-medium;
}

.subtitle {
    @extend %blockSubtitleText;
    padding: 0px $grid-xlarge;
}

.border {
    content: '-';
    display: block;
    width: 60px;
    height: 3px;
    background-color: $primary-color;
    margin: auto;
    margin-bottom: $grid-large;
}

@media (min-width: 320px) and (max-width: 600px) {
    .title {
        font-size: $font-large;
    }
}