@import '../../theme/typo.scss';
@import '../../theme/layout.scss';
@import '../../theme/colors.scss';

.container {
    text-align: center;
    margin-bottom: $grid-small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    @extend %blockTitleText;
    // margin-bottom: $grid-medium;
}

.subtitle {
    @extend %blockSubtitleText;
    width: 60%;
}

.border {
    content: '-';
    display: block;
    width: 60px;
    height: 3px;
    background-color: $primary-color;
    margin: auto;
    margin-bottom: $grid-large;
}

@media (min-width: 320px) and (max-width: 600px) {
    .container {
        margin-bottom: $grid-small;
    }

    .title {
        font-size: $font-xlarge;
    }

    .subtitle {
        font-size: $font-large;
        width: 100%;
    }
}