.container {
    width: 100%;
    border-bottom: 2px solid #C4C4C4;
}

.title {
    font-size: 28px;
    color: #002445;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 0px;
    font-weight: 600;
}