@import '../../theme/typo.scss';
@import '../../theme/layout.scss';
@import '../../theme/colors.scss';

.container {
    text-align: center;
    margin-bottom: $grid-xlarge;
}

.title {
    @extend %blockTitleText;
    margin-bottom: $grid-medium;
}

.subtitle {
    @extend %blockSubtitleText;
}

// .title {
//     font-family: $font-family-header;
//     font-size: $font-midLarge;
//     color: #002445;
//     text-transform: uppercase;
//     letter-spacing: 1px;
//     margin: 20px 0px;
//     font-weight: 600;
// }

@media (min-width: 320px) and (max-width: 600px) {
    .title {
        font-size: $font-large;
    }
}