@import '../../theme/layout.scss';

.container {
  display: flex;
  justify-content: space-around;
  margin: $grid-small $grid-large;
}

.button {
  // margin: $grid-small;
}

@media (min-width: 320px) and (max-width: 600px) {
  .container {
    flex-direction: column;
    margin: $grid-small
  }

  .button {
    margin: $grid-small 0px;
  }

}