@import '../../theme/animation.scss';

.button {
    text-align: center;
    font-size: 16px;
    // font-weight: 600;
    min-height: 45px;
    padding: 10px 30px;
    outline: none !important;
    white-space: nowrap;
    box-shadow: $box-shadow-standard
}

.button:focus {
    outline: none !important;
}

.button:hover {
    opacity: 0.95;
}