  
@import '../../theme/colors.scss';
@import '../../theme/layout.scss';
@import '../../theme/typo.scss';

.rowContainer {
    font-family: $font-family-standard;
}

.columnContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: $font-family-standard;
}

.label {
    margin: $grid-tiny 0px;
}

.textbox {
    font-size: $font-standard;
    height: 45px;
    margin-right: $grid-tiny;
}

.message {
    margin: $grid-tiny;
    color: $alert-color;
    font-size: $font-small;
}

@media (min-width: 300px) and (max-width: 767px) { 
    .textbox {
        margin-right: 0px;
        margin-bottom: $grid-small;
    }
}