.background {
    position: relative;
}

.title {
    position: absolute;
	bottom: 55%;
    right: 20%;
    color: #fff;
	margin: 0;
    font-size: 54px;
    font-weight: 800;
    letter-spacing: 0.3px;
}

@media (min-width: 120px) and (max-width: 790px) {
    .title {
        bottom: 20%;
        left: 2.5%;
        font-size: 48px;
    }
}
