@import '../../theme/colors.scss';
@import '../../theme/layout.scss';
@import '../../theme/typo.scss';

.container {
    min-height: 250px;
    color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-large;
    padding: $grid-large $grid-xxxlarge;
}

@media (min-width: 120px) and (max-width: 790px) {
    .container {
        padding: $grid-large $grid-large;
    }
}