@import './colors.scss';

$font-family-header: 'Raleway', 'san-serif';
$font-family-standard: 'Arial', 'san-serif';
$font-family-serif: 'Aria Text G2';

$font-tiny: 8px;
$font-small: 12px;
$font-standard: 14px;
$font-large: 16px;
$font-xlarge: 20px;
$font-xxlarge: 28px;
$font-xxxlarge: 36px;
$font-xxxxlarge: 48px;

$font-weight-lighter: 300;
$font-weight-light: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;
$font-weight-bolder: 900;

%backgroundHeaderText {
    color: $white-color;
    margin: 0px;
    font-size: $font-xxxlarge;
    font-weight: $font-weight-bolder;
    letter-spacing: 0.3px;
}

%blockTitleText {
    color: $primary-color;
    font-size: $font-xxxlarge;
    font-weight: $font-weight-bold;
    letter-spacing: 0.3px;
    font-family: $font-family-header;
}

%blockSubtitleText {
    color: $secondary-color;
    font-size: $font-large;
    font-style: italic;
    letter-spacing: 0.3px;
    font-family: $font-family-serif;
}