@import './colors.scss';

$font-family-header: 'Raleway', 'san-serif';
$font-family-standard: 'Open Sans', 'san-serif';

$font-tiny: 8px;
$font-small: 12px;
$font-standard: 16px;
$font-large: 24px;
$font-midLarge: 30px;
$font-xlarge: 36px;
$font-xxlarge: 54px;
$font-xxxlarge: 60px;

$font-weight-lighter: 300;
$font-weight-light: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;
$font-weight-bolder: 900;

%backgroundHeaderText {
    color: $white-color;
    margin: 0px;
    font-size: $font-xxxlarge;
    font-weight: $font-weight-bolder;
    letter-spacing: 0.3px;
}