@import '../../theme/layout.scss';
@import '../../theme/typo.scss';
@import '../../theme/colors.scss';

.container {
    display: flex;
    flex-direction: column;
    margin: $grid-tiny;
    color: $secondary-color;
    text-align: center;
    flex: 1 1 0px;
}

.titleContainer {
    margin: $grid-small 0px;
}

.title {
    font-family: $font-family-serif;
}

.description {
    font-family: $font-family-header;
    font-size: $font-small;
}

.textContainer {
    padding: 0px $grid-xxlarge;
}