@import '../../theme/layout.scss';
@import '../../theme/typo.scss';
@import '../../theme/colors.scss';

.container {
    display: flex;
    flex-direction: column;
    margin: $grid-tiny;
    color: $tertiary-color;
}

.titleContainer {
    margin: $grid-small 0px;
}

.title {
    font-weight: $font-weight-bold;
    font-size: $font-large;
}