@import '../../theme/layout.scss';
@import '../../theme/colors.scss';
@import '../../theme/typo.scss';


.caretDownIcon {
    color: $grey-color;
}

.menuIcon {
    display: none;
}

.innerContainer {
    height: 100%;
    width: 80%;
    display: flex;
    // padding-top: 10px;
    padding: $grid-tiny + 1 $grid-medium;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: $dark-grey-color;
    font-weight: $font-weight-lighter;
    text-transform: capitalize;
    margin-right: $grid-tiny;
}

.container {
    // height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.logoContainer {
    float: left;
}

.linksContainer {
    float: right;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navLink {
    margin: $grid-tiny;
    padding: $grid-small;
    cursor: pointer;
}

.menuContainer {
    display: flex;
}

.navItemContainer {
    margin: $grid-small;
}

.navItemMenuContainer {
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    width: 150px;
    margin-top: $grid-tiny;
    transition: visibility 0s, opacity 0.2s ease-in;
}

.itemLinkContainer {
    margin: $grid-tiny 0px;
    padding: $grid-tiny;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.itemNavLink {
    font-size: $font-standard;
    color: $dark-grey-color;
    font-weight: lighter;
}

.menuRightArrow {
    font-size: $font-small;
    float: right;
}



@media (min-width: 120px) and (max-width: 790px) {
    .icon {
        color: #002445;
        font-size: 40px;
        margin-right: 5px;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .innerContainer {
        display: flex !important;;
        flex-direction: column !important;
        width: 100% !important;
        padding: $grid-small;
        padding-bottom: 0px;
        align-items: center !important;
        justify-content: center !important;
    }

    .logoContainer {
        display: flex;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-end;
        width: 100%;
    }

    .container {
        height: initial !important;
    }
    .menuIcon {
        display: block !important;
    }

    .linksContainer {
        flex-direction: column !important;
        align-items: flex-start !important;
        margin: 10px 0px;
        margin-top: 0px;
        transition: all 0.2s ease-in;
        // display: none !important;
    }

    .menuContainer {
        display: flex;
    }

    .menuContainer {
        flex-direction: column !important;
        transition: all 0.2s ease-in;
    }

    .openMenu {
        opacity: 1;
        visibility: visible;
        margin-top: 5px;
    }

    .hideMenu {
        height: 0px !important;
        opacity: 0;
        visibility: none;
    }

    .navLink {
        margin: 10px 0px !important;
        padding: 0px !important;
    }

    .navItemMenuContainer { 
        position: relative !important;
        z-index: 0 !important;
    }
}