@import '../../theme/typo.scss';
@import '../../theme/layout.scss';
@import '../../theme/colors.scss';

.itemContainer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.title {
  font-size: $font-xxlarge;
  width: 60%;
  padding: 0px $grid-xxxlarge;
}

.videoContainer {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -99;
  width: 100%;
}

.video {
  width: 100%;
}