@import '../../theme/colors.scss';
@import '../../theme/typo.scss';
@import '../../theme/layout.scss';
@import '../../theme/animation.scss';

@media (min-width: 320px) and (max-width: 600px) {
    .linksContainer {
        flex-direction: column !important;
    }

    .infoContainer {
        width: 100% !important; 
        margin: 12px 0px !important;
    }
  }

.container {
    min-height: 250px;
    background-color: #002445;
    color: #ffffff;
    box-shadow: $box-shadow-standard;
}

.innerContainer {
    padding: 30px
}

.socialMediaContainer {
    margin: 0px 0px 30px 0px;
}

.linksContainer {
    display: flex;
    margin: 10px 0px;
    color: #ffffff;
}

.newsletterContainer {
    margin: $grid-small 0px;
}

.infoContainer {
    margin: $grid-tiny $grid-medium;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.infoTitle {
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 18px;
    margin-bottom: $grid-small;
}

.p {
    margin-bottom: 0px;
}

.link{
    color: #ffffff;
}

.copyrightContainer {
    background-color: $light-grey-color;
    text-align: center;
    padding: $grid-small;
    color: black;
}