@import '../theme/colors.scss';
@import '../theme/typo.scss';
@import '../theme/layout.scss';

.backgroundHeaderText {
    @extend %backgroundHeaderText;
    text-shadow: 2px 2px 5px grey;
    letter-spacing: 0px;
    font-weight: $font-weight-bold;
    font-family: $font-family-header;
}

.textBanner {
    font-size: $font-xxxlarge !important;
    font-weight: $font-weight-bolder;
    color: $tertiary-color !important;
    font-family: $font-family-header;
}

.descriptionBanner {
    font-size: $font-large !important;
    font-weight: $font-weight-light;
}

.summaryContainer {
    padding: 20px 0px;
}

.backgroundHeader {
    @extend %backgroundHeaderText;
}

.titleContainer {
    margin: 25px 0px;
}

.staffContainer {
    display: flex;
    justify-content: space-evenly;
}

.content {
    font-weight: $font-weight-light;
    font-size: $font-standard;
    margin: $grid-large 0px;
}

@media (min-width: 320px) and (max-width: 600px) {
    .staffContainer {
        flex-direction: column;
    }

    .summaryContainer {
        padding: 20px 10px;
    }

    .textBanner {
        font-size: $font-xlarge !important;
    }
}
