@import '../theme/typo.scss';
@import '../theme/layout.scss';
@import '../theme/colors.scss';

.carouselContainer {
  height: 500px;
  background-color: black;
  color: white;
  font-family: $font-family-serif;
}

.downloadButton {
  text-align: center;
}

.highlightBlock {
  width: 45%;
}

.plainText {
  max-width: 250px;
}

.borderedText {
  padding: $grid-small $grid-medium;
  border: 2px solid $light-grey-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 130px;
}

.borderedText p {
  font-size: $font-large;
}

.whiteSectionTitle p {
  color: white !important;
}

.impactSection {
  background-position-x: center;
  padding: $grid-large;
  min-height: 600px;
  background-size: cover;
  padding: $grid-large $grid-small;
}

.impactContainer {
  background-color: white;
  padding: $grid-medium $grid-large;
  margin-top: $grid-xxlarge;
}

.impactTitle p {
  font-size: $font-large;
  color: $primary-color;
  padding: 0px $grid-small;
  margin-bottom: 0px;
  font-weight: $font-weight-bold;
}

.blockContainer {
  max-width: 600px;
  flex: 1 1 0px;
}