@import '../theme/typo.scss';
@import '../theme/layout.scss';
@import '../theme/colors.scss';

.carouselContainer {
  height: 500px;
  background-color: black;
  color: white;
}

.downloadButton {
  text-align: center;
}

.highlightBlock {
  max-width: 320px;
}

.plainText {
  padding: $grid-small;
}

.borderedText {
  width: 260px;
  padding: $grid-small;
  border: 2px solid $light-grey-color;
  display: flex;
  justify-content: center;
}

// .blockContainer {
//   max-width: 220px;
// }