@import '../theme/typo.scss';
@import '../theme/layout.scss';
@import '../theme/colors.scss';

.fullWidth {
  width: 100%;
  display: flex;
  justify-content: center;
}

.backgroundItemsBlock {
  text-align: center;
  width: 60%;
}

.backgroundHeaderText {
  @extend %backgroundHeaderText;
}

.headerDescriptionText {
  color: $white-color;
  line-height: $grid-medium;
  letter-spacing: 0.7px;
  font-size: $font-standard;
  font-weight: $font-weight-lighter;
}

.buttons {
  display: flex;
  justify-content: space-betwen;
}

@media (min-width: 320px) and (max-width: 600px) {
  .backgroundHeaderText {
    font-size: $font-xxlarge;
  }
}


@media (min-width: 320px) and (max-width: 600px) {
  .backgroundItemsBlock{
    width: 100% !important;
    padding: 0px $grid-small;
  }
}