@import "../../theme/typo.scss";
@import "../../theme/layout.scss";
@import "../../theme/colors.scss";

.container {
  padding: 0px $grid-xlarge;
  position: relative;
  // overflow: auto;
}

.coverImage {
  // width: 50%;
  z-index: 1;
  // float: right;
}

.imageContainer {
  overflow: auto;
}

.fullWidth {
  width: 50%;
  float: right;
  right: 40px;
}

.articleContainer {
  font-size: $font-standard;
  position: absolute;
  top: 50%;
  left: 5%;
  background-color: $beige-color;
  width: 50%;
  z-index: 999;
  transform: translate(0%, -50%);
  padding: $grid-medium $grid-xlarge $grid-large $grid-xlarge;
}

.buttonContainer {
  position: absolute;
  bottom: -22.5px;
  left: 5%;
}

.title {
  font-family: $font-family-serif;
  font-size: $font-xlarge;
  color: $primary-color;
  font-weight: $font-weight-bold;
  margin-bottom: $grid-medium;
}