@import '../../theme/layout.scss';
@import '../../theme/typo.scss';
@import '../../theme/colors.scss';

@media (min-width: 320px) and (max-width: 600px) {
    .itemsContainer {
        flex-direction: column;
        align-items: center;
    }
}

.container {
    margin: $grid-small 0px;
}

.itemsContainer {
    display: flex;
    justify-content: space-between;
}

.headline {
    text-align: center;
}

.title {
    @extend %blockTitleText;
}

.subtitle {
    @extend %blockSubtitleText;
}
