@import '../../theme/typo.scss';
@import '../../theme/layout.scss';
@import '../../theme/colors.scss';
@import '../../theme/animation.scss';

.container {
  display: flex;
  height: 500px;
  margin: $grid-small 0px;
  box-shadow: $box-shadow-standard;
}

.leftBlockContainer {
  flex-grow: 1;
  width: 50%;
}

.rightBlockContainer {
  flex-grow: 1;
  width: 50%;
  padding: $grid-large;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.invertedContainer {
  flex-direction: row-reverse;
}

.title {
  font-size: $font-large;
  font-weight: $font-weight-bold;
  font-family: $font-family-header;
  color: $tertiary-color;
  text-transform: uppercase;
  text-align:center;
  margin-top: $grid-small;
}

.description {
  font-size: $font-standard;
  padding: $grid-small $grid-large;
  line-height: 30px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.children {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 600px) {
  .container {
    flex-direction: column;
    height: initial;
  }
  
  .leftBlockContainer {
    width: 100%;
  }
  
  .rightBlockContainer {
    width: 100%;
    padding: $grid-small;
  }
  
  .invertedContainer {
    flex-direction: column;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }
} 